{{!-- Starship Effects tab (shared Active Effects partial). --}}
<section class="tab effects-tab flexcol {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{> wwnEffectsList effects=effects}}
</section>
