{{!-- Powers tab: panels + collapsibles + shared data-table flex. --}}
<section class="tab powers-tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{> wwnPowersTabBody}}
</section>
