# misc
wwn.lock
.vscode
packs/adventuring-gear/

packs/armor/

packs/arts/

packs/assets/

packs/creatures-of-a-far-age/

packs/foci/

packs/gm-master-tables/

packs/gm-subtables/

packs/instinct/

packs/magic-item-masters/

packs/magic-items/

packs/magic-tables/

packs/ose-monsters/

packs/ose-spells/

packs/skills/

packs/spells/

packs/tags/

packs/weapons/
