<section class="tab{{#if tab}} {{tab.cssClass}}{{/if}}" data-group="primary" data-tab="notes">
  <div class="inventory">
    <div class="item-titles bg-wwn-header-bg text-white border border-wwn-border-strong text-center py-1 text-[13px]">{{localize "WWN.category.notes"}}</div>
    <div class="resizable-editor" data-editor-size="320">
      {{editor enrichedBiography target="system.details.biography" button=true editable=editable async=true}}
    </div>
  </div>
</section>
