<section class="sheet-header flex flex-row gap-2 px-2 py-1.5 border-b border-wwn-border items-stretch bg-wwn-bg-elevated">
  {{> "systems/wwn/templates/actors/partials/character-header.hbs"}}
</section>
