<section class="sheet-body p-2">
  {{> "systems/wwn/templates/actors/character/tab-main.hbs" tab=tabs.main}}
  {{> "systems/wwn/templates/actors/character/tab-gear.hbs" tab=tabs.gear}}
  {{#if tabs.abilities}}{{> "systems/wwn/templates/actors/character/tab-abilities.hbs" tab=tabs.abilities}}{{/if}}
  {{> "systems/wwn/templates/actors/character/tab-notes.hbs" tab=tabs.notes}}
  {{> "systems/wwn/templates/actors/character/tab-effects.hbs" tab=tabs.effects}}
</section>
