<div>
  <p>{{localize "WWN.Power.CommitmentChoiceHint"}}</p>
  <div class="form-group">
    <label>{{localize "WWN.Power.CommitmentChoiceLabel"}}</label>
    <select name="optionIndex">
      {{#each options}}
      <option value="{{@index}}">{{this.label}}</option>
      {{/each}}
    </select>
  </div>
</div>
