<div>
  <div class="form-group">
    <label>{{localize "WWN.Power.SubType"}}</label>
    <select name="subType">
      {{#each subtypes}}
      <option value="{{this.key}}">{{this.label}}</option>
      {{/each}}
    </select>
  </div>
</div>
