<form class="wwn roll-dialog p-2">
  <div class="flex flex-col gap-1">
    <h1 class="text-lg font-bold text-wwn-text"> {{name}}</h1>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="name">Name:</label>
      <input class="flex-1" id="name" type="text" value="{{name}}">
    </div>
    {{#if item}}
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="encumbrance">Encumbrance:</label>
      <input class="flex-1" id="encumbrance" type="text" value="1" data-dtype="number">
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="price">Price:</label>
      <input class="flex-1" id="price" type="text" value="0" data-dtype="number">
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="quantity">Quantity:</label>
      <input class="flex-1" id="quantity" type="text" value="1" data-dtype="number">
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="location">Location:</label>
      <select class="flex-1" id="location">
        <option value="stowed">Stowed</option>
        <option value="equipped">Equipped</option>
        <option value="neither">Neither</option>
      </select>
    </div>
    {{/if}}
    {{#if weapon}}
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="weaponType">Weapon Type:</label>
      <select class="flex-1" id="weaponType">
        <option value="melee">Melee</option>
        <option value="ranged">Ranged</option>
        <option value="both">Both</option>
      </select>
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="damage">Damage:</label>
      <input class="flex-1" id="damage" type="text" value="1d6">
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="shock-dmg">Shock Damage:</label>
      <input class="flex-1" id="shock-dmg" type="text" value="1">
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="shock-ac">Shock AC:</label>
      <input class="flex-1" id="shock-ac" type="text" value="15">
    </div>
    {{/if}}
    {{#if armor}}
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="armorType">Armor Type:</label>
      <select class="flex-1" id="armorType">
        <option value="light">Light</option>
        <option value="medium">Medium</option>
        <option value="heavy">Heavy</option>
        <option value="shield">Shield</option>
      </select>
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="aac">Armor Class:</label>
      <input class="flex-1" id="aac" type="text" value="0" data-dtype="number">
    </div>
    {{/if}}
    {{#if consumable}}
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="charges-val">Charges Value:</label>
      <input class="flex-1" id="charges-val" type="text" value="1" data-dtype="number">
    </div>
    <div class="form-group flex flex-row items-center py-[3px]">
      <label class="flex-[0_0_120px]" for="charges-max">Charges Max:</label>
      <input class="flex-1" id="charges-max" type="text" value="1" data-dtype="number">
    </div>
    {{/if}}
  </div>
</form>
