{{!-- Shared Active Effects tab for actor sheets. --}}
<section class="tab effects-tab flexcol {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{> wwnEffectsList effects=effects}}
</section>
