<div>
  <h3 title="">{{ name }}</h3>
  {{#if attackSpecial}}
   {{attackSpecial}} <br>
  {{/if}}

  <span>{{ attackKey }}:</span>
  <span title="">{{{ hitRoll }}}</span>
  <span>{{localize 'WWN.faction.damage'}}:</span>
  <span title="">{{{ damageRoll }}}</span>

  {{#if assetsWithLocationNotes}}
  <b>{{localize 'WWN.faction.locationRollTitle'}}</b>:<br>
    {{#each assetsWithLocationNotes as |faitems|}}
    <i>{{faitems.name}}</i>: {{faitems.system.locationRoll}}<Br>
    {{/each}}
  {{/if}}
</div>
