<div class="wwn border border-wwn-border px-2 py-1 my-1 bg-wwn-bg-elevated text-wwn-text">
  <div><h4 class="text-sm m-0 mb-1">{{{ title }}}</h4></div>
  <div>{{{ content }}}</div>
  {{#if longContent}}
  <div>
    <span style="display:none" class="hiddenLong">{{{ longContent }}} </span> <br>
    <button class="longShowDesc mt-1">Show Long Desc.</button></div>
  {{/if}}
  {{{ roll }}}
</div>
