<ol class="treasure-list">
  {{#each treasure as |t|}}
  <li class="treasure flexrow">
    {{#if t.img}}<img src="{{t.img}}" width="36" height="36" alt="" />{{/if}}
    <div>
      <div>{{{t.text}}}</div>
      {{#each t.treasure}}
      <li class="sub flexrow">
        {{#if img}}<img src="{{img}}" width="28" height="28" alt="" />{{/if}}
        <div>{{{text}}}</div>
      </li>
      {{/each}}
    </div>
  </li>
  {{/each}}
</ol>
