<form autocomplete="off">
    <div class="flexrow">
        <div class="attribute-list">
            {{#each config.abilityAbbreviations as |label id| }}
            <div data-score="{{id}}" class="form-group">
                <label><a data-action="rollScore"><i class="fas fa-dice"></i></a> {{localize label}}</label>
                <div class="form-fields">
                    <input class="score-value" name="system.abilities.{{id}}.value" type="number" value="0" data-dtype="Number"/>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="roll-stats">
            <div class="form-group">
                <label>Sum</label>
                <div class="form-fields">
                    <span class="sum">0</span>
                </div>
            </div>
            <div class="form-group">
                <label>Avg</label>
                <div class="form-fields">
                    <span class="avg">0</span>
                </div>
            </div>
            <div class="form-group">
                <label>σ</label>
                <div class="form-fields">
                    <span class="std">0</span>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label>Silver&nbsp;</label>
                <div class="form-fields">
                    <a data-action="rollSilver"><i class="fas fa-dice"></i></a>
                </div>
            </div>
            <div></div>
            <div class="form-group">
                <input name="silver" class="silver-value" type="number" value="0" disabled/>
            </div>
        </div>
    </div>
    <footer class="sheet-footer">
      <button type="submit" disabled>
        <i class="fas fa-save"></i>{{localize "Save Changes"}}
      </button>
    </footer>
</form>
