<form autocomplete="off" onsubmit="event.preventDefault();" class="p-2">
    <div class="flex flex-row gap-4">
        <div class="attribute-list flex-1">
            {{#each config.scores as |score id| }}
            <div data-score="{{id}}" class="form-group flex items-center py-[3px]">
                <label class="flex-[0_0_120px]"><a class="score-roll"><i class="fas fa-dice"></i></a> {{score}}</label>
                <div class="form-fields flex-1">
                    <input class="score-value" name="system.scores.{{id}}.value" type="number" value="0" data-dtype="Number"/>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="roll-stats flex flex-col">
            <div class="form-group flex items-center py-[3px]">
                <label class="flex-[0_0_80px]">Sum</label>
                <div class="form-fields flex-1">
                    <span class="sum">0</span>
                </div>
            </div>
            <div class="form-group flex items-center py-[3px]">
                <label class="flex-[0_0_80px]">Avg</label>
                <div class="form-fields flex-1">
                    <span class="avg">0</span>
                </div>
            </div>
            <div class="form-group flex items-center py-[3px]">
                <label class="flex-[0_0_80px]">σ</label>
                <div class="form-fields flex-1">
                    <span class="std">0</span>
                </div>
            </div>
            <hr class="border-wwn-border my-1">
            <div class="form-group flex items-center py-[3px]">
                <label class="flex-[0_0_80px]">Silver&nbsp;</label>
                <div class="form-fields flex-1">
                    <a class="silver-roll"><i class="fas fa-dice"></i></a>
                </div>
            </div>
            <div></div>
            <div class="form-group flex items-center py-[3px]">
                <input id="silver" class="silver-value flex-1" type="number" value="0" disabled/>
            </div>
        </div>
    </div>
    <footer class="sheet-footer flex justify-center p-2">
      <button type="submit" class="py-1 px-2" disabled>
        <i class="fas fa-save"></i>{{localize "Save Changes"}}
      </button>
    </footer>
</form>
