<form class="wwn dialog p-2">
  <div class="form-group flex items-center py-[3px]">
    <label class="flex-[0_0_120px]">{{localize 'WWN.Language'}}</label>
    <div class="form-fields flex-1">
      <select name="choice">
        {{selectOptions choices}}
      </select>
    </div>
  </div>
</form>
