<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.Melee'}} ({{mod data.scores.str.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.SpokenLanguages'}} ({{localize data.languages.spoken}})
      </li>
      <li>
        {{localize 'WWN.Literacy'}} ({{localize data.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.Missile'}} ({{mod data.scores.dex.mod}})
      </li>
      <li>
        {{localize 'WWN.Initiative'}} ({{mod data.scores.dex.init}})
      </li>
      <li>
        {{localize 'WWN.ArmorClass'}} ({{mod data.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.Health'}} ({{mod data.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.NPCReaction'}} ({{mod data.scores.cha.npc}})
      </li>
      <li>
        {{localize 'WWN.RetainersMax'}} ({{add data.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'WWN.Loyalty'}} ({{add data.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>