<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.Ability.Str.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.Melee'}} ({{mod system.abilities.str.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.Ability.Int.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.SpokenLanguages'}} ({{languages.length}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.Ability.Dex.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.Missile'}} ({{mod system.abilities.dex.mod}})
      </li>
      <li>
        {{localize 'WWN.Initiative'}} ({{mod system.abilities.dex.mod}})
      </li>
      <li>
        {{localize 'WWN.ArmorClass'}} ({{mod system.abilities.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.Ability.Con.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.Health'}} ({{mod system.abilities.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'WWN.Ability.Cha.long'}}</label>
    <ol>
      <li>
        {{localize 'WWN.RetainersMax'}} ({{add system.abilities.cha.mod 4}})
      </li>
      <li>
        {{localize 'WWN.Loyalty'}} ({{add system.abilities.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>
