/* Settings tab license block */

.settings-sidebar .wwn.game-license {
  font-size: 12px;
  line-height: 1.4;
  padding: 0.25rem 0 0;

  p {
    margin: 0 0 0.5em;
  }

  .kofi {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }

  .footer {
    text-align: right;
  }
}
