<div class="flex flex-row tab" data-group="primary" data-tab="description">
  <div class="description flex-1 overflow-auto min-h-[300px]">
    {{editor enrichedDescription target="system.description" button=true
    owner=owner editable=editable async=true}}
  </div>
</div>
