<section class="notes-tab">
    <div class="inventory">
        <div class="details-top flexrow flex2">
            <div class="character-identity flex3 flexcol">
                <div class="item-titles">
                    {{localize "WWN.category.details"}}
                </div>
                <div class="form-group">
                    <label>{{localize "WWN.details.alignment"}}</label>
                    <div class="form-fields">
                        <input type="text" name="system.details.alignment" value="{{system.details.alignment}}"
                            data-dtype="String" />
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "WWN.details.class"}}</label>
                    <div class="form-fields owned-class-edges">
                        {{#if classEdges.length}}
                        {{#each classEdges as |edge|}}
                        <span class="item" data-item-id="{{edge.id}}">
                            <a class="item-edit" title="{{localize 'WWN.Edit'}}">{{edge.name}}</a>
                        </span>
                        {{/each}}
                        {{else}}
                        <span class="unowned-hint">{{localize "WWN.ClassEdge.NoneOnDetails"}}</span>
                        {{/if}}
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "WWN.details.background"}}</label>
                    <div class="form-fields">
                        <input type="text" name="system.details.background" value="{{system.details.background}}"
                            data-dtype="String" />
                    </div>
                </div>
            </div>
            <div class="languages flex3">
                <div class="item-titles flexrow">
                    <div class="item-name">
                        {{localize "WWN.category.languages"}}
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-push" data-array="languages" title="{{localize 'WWN.Add'}}"><i
                                class="fa fa-plus"></i></a>
                    </div>
                </div>
                <ol class="item-list" data-base-size="80">
                    {{#each system.languages as |lang|}}
                    <li class="item flexrow" data-lang="{{lang}}">
                        <div class="item-name">{{lang}}</div>
                        <div class="item-controls">
                            <a class="item-control item-pop" data-array="languages" title="{{localize 'WWN.Del'}}"><i
                                    class="fa fa-trash"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
        </div>
        <div>
            <div class="description">
                <div class="item-titles">
                    {{localize "WWN.category.description"}}
                </div>
                <div>
                    {{editor enrichedBiography target="system.biography"
                    button=true editable=editable async=true}}
                </div>
            </div>
            <div class="description">
                <div class="item-titles">{{localize "WWN.category.notes"}}</div>
                <div>
                    {{editor enrichedNotes target="system.details.notes"
                    button=true editable=editable async=true}}
                </div>
            </div>
        </div>
    </div>
</section>
