<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'WWN.details.name'}}" data-dtype="String" />
  </h1>
  <ul class="summary flexrow">
    <li class="flex3">
      <input type="text" name="system.details.class" value="{{system.details.class}}" data-dtype="String" />
      <label>{{localize 'WWN.details.class'}}</label>
    </li>
    <li class="flex3">
      <input type="text" name="system.details.alignment" value="{{system.details.alignment}}" data-dtype="String" />
      <label>{{localize 'WWN.details.alignment'}}</label>
    </li>
    {{#if system.retainer.enabled}}
    <li class="check-field flex1" data-stat="lr">
      <div class="check morale-check" title="{{localize 'WWN.roll.morale'}}"><a><i class="fas fa-dice"></i></a></div>
      <input name="system.details.morale" type="number" value="{{system.details.morale}}" placeholder="0"
        data-dtype="Number" />
      <label>{{localize 'WWN.Loyalty'}}</label>
    </li>
    {{else}}
    <li class="flex1">
      <input type="number" name="system.details.renown.value" value="{{system.details.renown.value}}"
        data-dtype="Number" />
      <label>{{localize 'WWN.details.renown.short'}}</label>
    </li>
    {{/if}}
  </ul>
  <ul class="summary flexrow">
    {{#if system.retainer.enabled}}
    <li class="flex2">
      <input type="text" name="system.retainer.wage" value="{{system.retainer.wage}}" data-dtype="String" />
      <label>{{localize 'WWN.RetainerWage'}}</label>
    </li>
    {{else}}
    <li class="flex2">
      <input type="text" name="system.details.background" value="{{system.details.background}}" data-dtype="String" />
      <label>{{localize 'WWN.details.background'}}</label>
    </li>
    {{/if}}
    <li class="{{#if (gt system.details.xp.value system.details.xp.next)}}notify{{/if}}">
      <input type="number" name="system.details.level" value="{{system.details.level}}" data-dtype="Number" />
      <label>{{localize 'WWN.details.level'}}</label>
    </li>
    <li>
      <input type="number" name="system.details.xp.value" value="{{system.details.xp.value}}" data-dtype="Number" />
      <label>{{localize 'WWN.details.experience.base'}}</label>
      {{#if system.details.xp.bonus}}
      <span class="xp-bonus">+{{system.details.xp.bonus}}%</span>
      {{/if}}
    </li>
    <li>
      {{#if config.xpPerChar}}
      <input type="number" name="system.details.xp.next" value="{{system.details.xp.next}}" data-dtype="Number" />
      {{else}}
      <input type="number" name="system.details.xp.next" value="{{system.details.xp.next}}" data-dtype="Number"
        disabled />
      {{/if}}
      <label>{{localize 'WWN.details.experience.next'}}</label>
    </li>
    <li>
      <input type="number" name="system.thac0.bba" type="number" value="{{system.thac0.bba}}" placeholder="0"
        data-dtype="Number" />
      <label>{{localize 'WWN.ABShort'}}</label>
    </li>
    <li class="check-field">
      <div>
        <div class="check hd-roll" title="{{localize 'WWN.HitDice'}}"><a><i class="fas fa-dice"></i></a></div>
        <input type="text" name="system.hp.hd" value="{{system.hp.hd}}" title="{{localize 'WWN.HitDiceFormula'}}" />
        <label title="{{localize 'WWN.HitDiceFormula'}}">{{localize 'WWN.HitDiceLong'}}</label>
      </div>
    </li>
  </ul>
</section>