<section class="inventory" data-base-size="310">
  <div class="flexrow">
    <div class="flex2">
      <li class="item-titles flexrow">
        <div class="item-caret"><i class="fas fa-caret-down"></i></div>
        <div class="item-name">{{localize "WWN.spells.Arts"}}</div>
        <div class="field-long" title="{{localize 'WWN.spells.ArtSourceHint'}}">{{localize "WWN.spells.ArtSource"}}
        </div>
        <div class="field-short" title="{{localize 'WWN.spells.Effort'}}{{localize 'WWN.spells.Committed'}}">
          {{localize "WWN.spells.Effort"}}</div>
        <div class="field-short" title="{{localize 'WWN.spells.TimeHint'}}">{{localize "WWN.spells.Time"}}</div>
        <div class="item-controls">
          <a class="item-control effort-reset" title='{{localize "WWN.spells.ResetEffort"}}'><i
              class="fas fa-sync"></i></a>
          <a class="item-control item-search" data-type="art" title="{{localize 'WWN.Search'}}"><i
              class="fa fa-search"></i></a>
          <a class="item-control item-create" data-type="art" title="{{localize 'WWN.Add'}}"><i
              class="fa fa-plus"></i></a>
        </div>
      </li>
      {{#each owned.arts as |artGroup|}}
      <ol class="item-list">
        {{#each artGroup as |art|}}
        <li class="item-entry">
          <div class="item flexrow" data-item-id="{{art.id}}">
            <div class="item-name item-rollable flexrow">
              <div class="item-image" style="background-image: url({{img}})"></div>
              <a>
                <h4 title="{{art.name}}">
                  {{art.name~}}
                </h4>
              </a>
            </div>
            <div class="field-long artSource">
              <input value="{{art.system.source}}" type="text" placeholder="High Mage" />
            </div>
            <div class="field-short artEffort">
              <input value="{{art.system.effort}}" type="number" data-dtype="Number" />
            </div>
            <div class="field-short artTime">
              <input value="{{art.system.time}}" type="text" />
            </div>
            <div class="item-controls">
              <a class="item-control item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
            </div>
          </div>
        </li>
        {{/each}}
      </ol>
      {{/each}}
    </div>
    <div>
      <div class="item-titles flexrow spell-resources">
        <div class="item-name">{{localize "WWN.spells.Class"}} {{localize "WWN.spells.Effort"}}</div>
        <div class="item-controls">
          <a class="item-control effort-reset" title='{{localize "WWN.spells.ResetEffort"}}'><i
              class="fas fa-sync"></i></a>
        </div>
      </div>
      <ol class="item-list">
        {{#each system.classes as |artGroup id|}}
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow">{{id}}</div>
            <div class="field-short">
              <input name="{{artGroup.value}}" type="number" value={{artGroup.value}} data-dtype="Number" disabled />
            </div> /
            <div class="field-short">
              <input name="system.classes.{{id}}.max" type="number" value={{artGroup.max}} data-dtype="Number" />
            </div>
          </div>
        </li>
        {{/each}}
      </ol>
      {{#if (evalAnd system.spells.spellsEnabled (nt system.spells.leveledSlots true))}}
      <div class="item-titles flexrow spell-resources">
        <div class="item-name">{{localize "WWN.category.spells"}}</div>
        <div class="item-controls">
          <a class="item-control slot-reset" title='{{localize "WWN.spells.ResetSlots"}}'><i
              class="fas fa-sync"></i></a>
        </div>
      </div>
      <ol class="item-list">
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow spell-resources">{{localize "WWN.spells.TotalPrepared"}}</div>
            <div class="field-short">
              <input name="system.spells.prepared.value" type="number" value="{{system.spells.prepared.value}}"
                data-dtype="Number" disabled />
            </div> /
            <div class="field-short">
              <input name="system.spells.prepared.max" type="number" value="{{system.spells.prepared.max}}"
                data-dtype="Number" />
            </div>
        </li>
        <li class="item-entry">
          <div class="item flexrow">
            <div class="item-name flexrow spell-resources">{{localize "WWN.spells.Slots"}}</div>
            <div class="field-short">
              <input name="system.spells.perDay.value" type="number" value="{{system.spells.perDay.value}}"
                data-dtype="Number" />
            </div> /
            <div class="field-short">
              <input name="system.spells.perDay.max" type="number" value="{{system.spells.perDay.max}}"
                data-dtype="Number" />
            </div>
        </li>
      </ol>
      {{/if}}
    </div>
  </div>
</section>
{{#if system.spells.spellsEnabled}}
<section class="inventory spells" data-base-size="320">
  <div class="item-titles flexrow" style="line-height:15px">
    <div class="item-name">{{localize "WWN.category.spells"}}</div>
    <div class="item-controls">
      <a class="item-control slot-reset" title='{{localize "WWN.spells.ResetSlots"}}'><i class="fas fa-sync"></i></a>
      <a class="item-control item-search" data-type="spell" title="{{localize 'WWN.Search'}}"><i
          class="fa fa-search"></i></a>
      <a class="item-control item-create" data-type="spell" title="{{localize 'WWN.Add'}}"><i
          class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="spells">
    {{#each owned.spells as |spellGroup id|}}
    <div class="spells-parent">
      <li class="item-titles flexrow">
        <div class="item-caret"><i class="fas fa-caret-down"></i> </div>
        <div class="item-name">{{localize "WWN.spells.Level"}} {{id}}</div>

        {{#if ../system.spells.leveledSlots}}
        <div class="field-long flexrow spellSlots">
          <input type="text" value="{{lookup (lookup @root.system.spells.slots @key) 'used'}}"
            name="system.spells.{{id}}.value" data-dtype="Number" placeholder="0" readonly
            title="Memorized Spells" />/<input type="text"
            value="{{lookup (lookup @root.system.spells.slots @key) 'max'}}" name="system.spells.slots.{{id}}.max"
            data-dtype="Number" placeholder="0" title="Available Slots" />
        </div>
        {{/if}}

        <div class="item-controls">
          <a class="item-control item-create" data-type="spell" data-lvl="{{id}}" title="{{localize 'WWN.Add'}}"><i
              class="fa fa-plus"></i></a>
        </div>
      </li>
      <ol class="item-list spells-child">
        {{#each spellGroup as |item|}}
        <li class="item-entry">
          <div class="item flexrow" data-item-id="{{item.id}}">
            <div class="item-name item-rollable flexrow">
              <div class="item-image" style="background-image: url({{item.img}})"></div>
              <a>
                <h4 title="{{item.name}}">
                  {{item.name~}}
                </h4>
              </a>
            </div>

            {{#if actor.system.spells.leveledSlots}}
            <div class="field-long memorize flexrow">
              <input type="number" value="{{system.cast}}" data-dtype="Number" placeholder="0" data-field="cast"
                title="Cast" />
              /
              <input type="number" value="{{system.memorized}}" data-field="memorize" data-dtype="Number"
                placeholder="0" title="Memorized" />
            </div>
            {{/if}}

            <div class="item-controls">
              {{#if ../../owner}}
              {{#unless actor.system.spells.leveledSlots}}
              <a class="item-control item-prep {{#unless item.system.prepared}}item-unprepared{{/unless}}"
                title='{{localize "WWN.spells.Prepared"}}'>
                <i class="fas fa-brain"></i></a>
              {{/unless}}
              <a class="item-control item-show" title='{{localize "WWN.Show"}}'><i class="fas fa-eye"></i></a>
              <a class="item-control item-edit" title='{{localize "WWN.Edit"}}'><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title='{{localize "WWN.Delete"}}'><i class="fas fa-trash"></i></a>
              {{/if}}
            </div>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>
    {{/each}}
  </div>
</section>
{{/if}}
{{#if (evalNor system.spells.artsEnabled system.spells.spellsEnabled)}}
<h4 style="font-size: 18px; padding-top: 30px; text-align: center;">Drag arts or spells from the compendium to get
  started.</h4>
{{/if}}