<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'WWN.details.name'}}" data-dtype="String" />
  </h1>
  <ul class="summary flexrow">
    <li class="{{#if (gt system.details.xp.value system.details.xp.next)}}notify{{/if}}">
      <input type="number" name="system.details.level" value="{{system.details.level}}" data-dtype="Number" />
      <label>{{localize 'WWN.details.level'}}</label>
    </li>
    <li>
      <input type="number" name="system.details.xp.value" value="{{system.details.xp.value}}" data-dtype="Number" />
      <label>{{localize 'WWN.details.experience.base'}}</label>
      {{#if system.details.xp.bonus}}
      <span class="xp-bonus">+{{system.details.xp.bonus}}%</span>
      {{/if}}
    </li>
    <li>
      {{#if config.xpPerChar}}
      <input type="number" name="system.details.xp.next" value="{{system.details.xp.next}}" data-dtype="Number" />
      {{else}}
      <input type="number" name="system.details.xp.next" value="{{system.details.xp.next}}" data-dtype="Number"
        disabled />
      {{/if}}
      <label>{{localize 'WWN.details.experience.next'}}</label>
    </li>
    <li class="flex1">
      <input type="number" name="system.details.renown.value" value="{{system.details.renown.value}}"
        data-dtype="Number" />
      <label>{{localize 'WWN.details.renown.short'}}</label>
    </li>
    {{#if config.useTrauma}}
    <li class="flex1">
      <input type="number" name="system.trauma.value" value="{{system.trauma.value}}" data-dtype="Number"
        placeholder="6" disabled data-tooltip="{{localize 'WWN.TraumaTargetLong'}}" />
      <label>{{localize 'WWN.TraumaTargetMedium'}}</label>
    </li>
    {{/if}}
  </ul>
</section>
