<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'WWN.details.name'}}" />
  </h1>
  <ul class="summary flexrow">
    <li class="flexrow check-field">
      <div>
        <input type="text" name="data.hp.hd" value="{{data.hp.hd}}" />
        <label>{{localize 'WWN.HitDiceLong'}}</label>
      </div>
    </li>
    <li class="flexrow check-field">
      <div>
        <input type="number" name="data.initiative.mod" value="{{data.initiative.mod}}" />
        <label>{{localize 'WWN.Initiative'}}</label>
      </div>
    </li>
    <li class="flexrow check-field">
      <div>
        <input type="number" name="data.thac0.bba" value="{{data.thac0.bba}}" />
        <label title="{{localize 'WWN.AB'}}">{{localize 'WWN.ABShort'}}</label>
      </div>
    </li>
    <li class="flexrow check-field">
      <div>
        <input type="number" name="data.damageBonus" value="{{data.damageBonus}}" />
        <label title="{{localize 'WWN.DB'}}">{{localize 'WWN.DBShort'}}</label>
      </div>
    </li>
    <li class="flexrow check-field" data-check="dungeon">
      <div>
        <input type="text" name="data.details.appearing.d" value="{{data.details.appearing.d}}" />
        <label>{{localize 'WWN.details.appearingA'}}</label>
      </div>
      <div class="check appearing-check" title="{{localize 'WWN.details.dungeonAppearing'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="flexrow check-field" data-check="wilderness">
        (<div><input type="text" name="data.details.appearing.w" value="{{data.details.appearing.w}}" />
          <label>{{localize 'WWN.details.appearingB'}}</label></div>)
      <div class="check appearing-check" title="{{localize 'WWN.details.wildernessAppearing'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li>
      <input type="number" name="data.details.xp" value="{{data.details.xp}}" />
      <label>{{localize 'WWN.details.experience.award'}}</label>
    </li>
  </ul>
  <ul class="summary flexrow">
    <li class="flexrow check-field">
      <div>
        <input type="text" name="data.details.alignment" value="{{data.details.alignment}}" />
        <label>{{localize 'WWN.details.alignment'}}</label>
      </div>
      <div class="check reaction-check" title="{{localize 'WWN.roll.reaction'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="treasure-table" title="{{localize 'WWN.details.instinctTableHint'}}">
      <div>{{{data.details.instinctTable.link}}}</div>
      <label>{{localize 'WWN.details.instinct'}}</label>
    </li>
  </ul>
</section>