<form autocomplete="off">
  <div class="actor header flexrow">
    {{#if user.isGM}}
    <div class="item-controls flexrow">
      <div class="item-control">
        <button type="button" class="deal-xp" title="{{localize 'WWN.dialog.xp.deal'}}"><i
            class="fas fa-level-up-alt"></i></button>
      </div>
      <div class="item-control">
        <button type="button" class="deal-currency"
          title="{{#if useGoldStandard}}{{localize 'WWN.dialog.currency.dealGold'}}{{else}}{{localize 'WWN.dialog.currency.deal'}}{{/if}}"><i
            class="fas fa-coins"></i></button>
      </div>
      <div class="item-control">
        <button type="button" class="select-actors" title="{{localize 'WWN.dialog.selectActors'}}"><i
            class="fas fa-users"></i></button>
      </div>
    </div>
    {{localize 'WWN.dialog.partySelectHint'}}
    {{/if}}
  </div>
  <div class="party-table-header flexrow">
    <div class="header-spacer"></div>
    <div class="col-name">{{localize 'WWN.details.name'}}</div>
    <div class="col-hp" title="{{localize 'WWN.Health'}}">{{localize 'WWN.HealthShort'}}</div>
    <div class="col-ac" title="{{localize 'WWN.ArmorClass'}}">AC</div>
    <div class="col-strain" title="{{localize 'WWN.SystemStrainLong'}}">{{localize 'WWN.SystemStrainShort'}}</div>
    <div class="col-saves">{{localize 'WWN.category.saves'}}</div>
    <div class="col-move" title="{{localize 'WWN.movement.base'}}">{{localize 'WWN.movement.short'}}</div>
  </div>
  <ol class="actor-list">
    {{#each data.documents as |e|}}
    {{#if e.flags.wwn.party}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
      <div class="field-img">
        <img src="{{e.img}}" alt="" />
        <div class="img-btns flexrow">
          <button type="button" data-action="open-sheet" title="{{localize 'WWN.Edit'}}"><i
              class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="party-fields flexrow">
        <div class="col-name field-name">
          <strong>{{e.name}}</strong>
        </div>
        <div class="col-hp" title="{{localize 'WWN.Health'}}">
          {{e.system.hp.value}}/{{e.system.hp.max}}
        </div>
        <div class="col-ac" title="{{localize 'WWN.ArmorClass'}}">
          {{e.system.aac.value}}
        </div>
        <div class="col-strain" title="{{localize 'WWN.SystemStrainLong'}}">
          {{e.system.details.strain.value}}/{{e.system.details.strain.max}}
        </div>
        <div class="col-saves" title="{{localize 'WWN.category.saves'}}">
          <span class="save-val"><b>E</b>{{e.system.saves.evasion.value}}</span>
          <span class="save-val"><b>M</b>{{e.system.saves.mental.value}}</span>
          <span class="save-val"><b>P</b>{{e.system.saves.physical.value}}</span>
          <span class="save-val"><b>L</b>{{e.system.saves.luck.value}}</span>
        </div>
        <div class="col-move" title="{{localize 'WWN.movement.long'}}">
          {{e.system.movement.base}}<span class="move-explore">/{{e.system.movement.exploration}}</span>
        </div>
      </div>
    </li>
    {{/if}}
    {{/each}}
  </ol>
  <footer>
    <div class=""></div>
  </footer>
</form>