<form autocomplete="off">
    <div class="form-group flex flex-row items-center gap-1">
        <label class="flex-1">Amount</label>
        <input name="total" placeholder="0" type="number" data-dtype="Number" class="w-24" />
        <button type="button" data-action="calculate-share" class="shrink-0">
            <i class="fas fa-calculator"></i>
        </button>
    </div>
    <hr class="my-1 border-wwn-border" />
    <div class="actors">
        {{#each actors as |e|}}
        <div class="actor form-group flex flex-row items-center gap-1" data-actor-id="{{e.id}}">
            <label class="flex-1">{{e.name}} ({{e.system.details.xp.share}}%)</label>
            <input name="" placeholder="0" type="number" data-dtype="Number" class="w-24" />
        </div>
        {{/each}}
    </div>
    <div class="dialog-buttons mt-2">
        <button type="button" data-action="deal-xp">
            {{localize "WWN.dialog.xp.deal"}}
        </button>
    </div>
</form>
