<form autocomplete="off">
    <div class="form-group">
        <label>Amount</label>
        <input name="total" placeholder="0" type="number" data-dtype="Number" />
        <button type="button" data-action="calculate-share">
            <i class="fas fa-calculator"></i>
        </button>
    </div>
    <hr />
    <div class="actors">
        {{#each actors as |e|}}
        <div class="actor form-group" data-actor-id="{{e.id}}">
            <label>{{e.name}} ({{e.data.data.currency.share}}%)</label>
            <input name="" placeholder="0" type="number" data-dtype="Number" />
        </div>
        {{/each}}
    </div>
    <div class="dialog-buttons">
        <button type="button" data-action="deal-currency" title="{{localize "WWN.dialog.currency.dealHint"}}">
            {{localize "WWN.dialog.currency.deal"}}
        </button>
    </div>
</form>
