<form autocomplete="off">
  <div class="actor header flexrow">
    <div>
      <a class="item-control resync"><i class="fas fa-sync"></i></a>
    </div>
    {{#if user.isGM}}
    <div class="item-controls flexrow">
      <div class="item-control">
        <button type="button" class="deal-xp" title="{{localize 'WWN.dialog.xp.deal'}}"><i
            class="fas fa-level-up-alt"></i></button>
      </div>
      <div class="item-control">
        <button type="button" class="deal-currency" title="{{localize 'WWN.dialog.currency.deal'}}"><i
            class="fas fa-coins"></i></button>
      </div>
      <div class="item-control">
        <button type="button" class="select-actors" title="{{localize 'WWN.dialog.selectActors'}}"><i
            class="fas fa-users"></i></button>
      </div>
    </div>
    {{localize 'WWN.dialog.partySelectHint'}}
    {{/if}}
  </div>
  <ol class="actor-list">
    {{#each system.documents as |e|}} {{#if e.system.flags.wwn.party}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
      <div class="field-img">
        <img src="{{e.img}}" />
        <div class="img-btns flexrow">
          <button type="button" data-action="open-sheet"><i class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="fields">
        <div class="flexrow field-row">
          <div class="field-name flex2">
            <strong>{{e.name}}</strong>
          </div>
          <div class="field-long" title="{{localize 'WWN.Health'}}">
            <i class="fas fa-heart"></i>
            {{e.system.hp.value}}/{{e.system.hp.max}}
          </div>
          <div class="field-short" title="{{localize 'WWN.ArmorClass'}}">
            <i class="fas fa-shield-alt"></i>
            <strong>{{e.system.aac.value}}</strong>
            <sub>{{e.system.aac.naked}}</sub>
          </div>
          <div class="field-short" title="{{localize 'WWN.SystemStrainLong'}}">
            <i class="fas fa-tint"></i>
            <strong>{{e.system.details.strain.value}}</strong>
            <sub>{{e.system.details.strain.max}}</sub>
          </div>
        </div>
        <div class="flexrow field-row">
          <div class="field-short" title="{{localize 'WWN.AB'}}">
            <i class="fas fa-crosshairs"></i>
            {{e.system.thac0.bba}}
          </div>
          <div class="field-long flex3">
            <strong>{{localize 'WWN.category.saves'}}</strong>
            {{localize 'WWN.saves.summary'
            evasion = e.system.saves.evasion.value
            mental = e.system.saves.mental.value
            physical = e.system.saves.physical.value
            luck = e.system.saves.luck.value
            }}
          </div>
          <div class="field-short flex2">
            <i class="fas fa-shoe-prints" title="{{localize 'WWN.movement.base'}}"></i>
            <strong title="{{localize 'WWN.movement.encounter.long'}}">{{e.system.movement.base}}</strong>
            <span title="{{localize 'WWN.movement.exploration.long'}}">{{e.system.movement.exploration}}</span>
          </div>
        </div>
        <div class="flexrow field-row">
          <div class="field-short flex2">
            <strong>{{localize 'WWN.resources.rations'}}</strong>
            {{e.system.details.resources.rations}}
          </div>
          <div class="field-short flex2">
            <strong>{{localize 'WWN.resources.torches'}}</strong>
            {{e.system.details.resources.torches}}
          </div>
          <div class="field-short flex2">
            <strong>{{localize 'WWN.resources.torches'}}</strong>
            {{e.system.details.resources.oil}}
          </div>
        </div>
      </div>
    </li>
    {{/if}} {{/each}}
  </ol>
  <footer>
    <div class=""></div>
  </footer>
</form>