<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
      </div>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
        <div class="form-group">
          <label>{{localize 'WWN.items.Roll'}}</label>
          <div class="form-fields">
            <input type="text" name="data.roll" value="{{data.roll}}" data-dtype="String" />
          </div>
        </div>
      </div>
      <div class="flexrow">
        <div class="stats">
          <div class="form-group">
            <div class="form-group">
              <label title={{localize 'WWN.spells.Save' }}>{{localize 'WWN.spells.Save'}}</label>
              <div class=form-fields>
                <select name="data.save">
                  {{#select data.save}}
                  <option value=""></option>
                  {{#each config.saves as |save a|}}
                  <option value="{{a}}">{{save}}</option>
                  {{/each}}
                  {{/select}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="description resizable-editor">
      {{editor content=data.description target="data.description" button=true
      owner=owner editable=editable}}
    </div>
  </section>
</form>