<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
        <div class="details">
          <div class="form-group">
            <label title="{{localize 'WWN.items.Price'}}"><i class="fas fa-circle"></i></label>
            <div class="form-fields">
              <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.Weight'}}"><i class="fas fa-weight-hanging"></i></label>
            <div class="form-fields">
              <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="info">Statistics</a>
    <a class="item" data-tab="description">{{localize "WWN.category.description"}}</a>
    <a class="item" data-tab="effects">{{localize "WWN.Effects"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="flexrow card-body tab" data-group="primary" data-tab="info">
      <div class="flexrow item-footer">
        <div class="stats">
          <div class="form-group">
            <label title="{{localize 'WWN.ArmorClass'}}">{{localize 'WWN.items.ArmorAAC'}}</label>
            <div class="form-fields">
              <input type="number" name="system.aac.value" value="{{system.aac.value}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.ArmorBonusHint'}}">{{localize 'WWN.items.ArmorBonus'}}</label>
            <div class="form-fields">
              <input type="number" name="system.aac.mod" value="{{system.aac.mod}}" data-dtype="Number" />
            </div>
          </div>
        </div>
        <div class="stats">
          <div class="form-group">
            <label>{{localize 'WWN.armor.type'}}</label>
            <div class="form-fields">
              <select name="system.type">
                {{selectOptions config.armor selected=system.type localize=true}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.items.WeightlessLabel"}}</label>
            <div class="form-fields">
              <select name="system.weightless">
                {{selectOptions config.weightless selected=system.weightless localize=true}}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="description">
      {{> "systems/wwn/templates/items/partials/description.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/wwn/templates/items/partials/item-effects.html"}}
    </div>

  </section>
</form>