<form class="wwn dialog p-2">
  <div class="form-group flex items-center py-[3px]">
    <label class="flex-[0_0_120px]">{{localize 'WWN.dialog.itemName'}}</label>
    <div class="form-fields flex-1">
      <input name="name" type="text" />
    </div>
  </div>
  <div class="form-group flex items-center py-[3px]">
    <label class="flex-[0_0_120px]">{{localize 'WWN.dialog.itemType'}}</label>
    <div class="form-fields flex-1">
      <select name="type">
        {{selectOptions types selected="focus"}}
      </select>
    </div>
  </div>
</form>
