<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
        <div class="details">
          <div class="form-group">
            <label title="{{localize 'WWN.items.Price'}}"><i class="fas
              fa-circle"></i></label>
            <div class="form-fields">
              <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.Weight'}}"><i class="fas fa-weight-hanging"></i></label>
            <div class="form-fields">
              <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.Quantity'}}"><i class="fas fa-hashtag"></i></label>
            <div class="form-fields">
              {{#if (evalOr system.charges.value system.charges.max)}}
              <input type="number" name="system.quantity" value=1 data-dtype="Number"
                title="{{localize 'WWN.items.ChargeQuantity'}}" disabled />
              {{else}}
              <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="info">Statistics</a>
    <a class="item" data-tab="description">{{localize "WWN.category.description"}}</a>
    <a class="item" data-tab="effects">{{localize "WWN.Effects"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="flexrow card-body tab" data-group="primary" data-tab="info">
      <div class="flexrow item-footer">
        <div class="stats">
          <div class="form-group">
            <label title="{{localize 'WWN.items.Treasure'}}">{{localize 'WWN.items.Treasure'}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.treasure" value="{{system.treasure}}" {{checked system.treasure}}
                data-dtype="Boolean" />
            </div>
          </div>
          <div class="form-group">
            <label>Personal</label>
            <div class="form-fields">
              <input type="checkbox" name="system.personal" value="{{system.personal}}" {{checked system.personal}}
                data-dtype="Boolean" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.items.WeightlessLabel"}}</label>
            <div class="form-fields">
              <select name="system.weightless">
                {{selectOptions config.weightless selected=system.weightless localize=true}}
              </select>
            </div>
          </div>
        </div>
        <div class="stats">
          <div class="form-group">
            <label title={{localize 'WWN.items.Charges' }}>{{localize 'WWN.items.Charges'}}</label>
            <div class="form-fields">
              <input type="number" name="system.charges.value" value="{{system.charges.value}}" data-dtype="Number"
                title="{{localize 'WWN.items.CurrCharges'}}" />
              <input type="number" name="system.charges.max" value="{{system.charges.max}}" data-dtype="Number"
                title="{{localize 'WWN.items.MaxCharges'}}" />
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- Description Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="description">
      {{> "systems/wwn/templates/items/partials/description.html"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/wwn/templates/items/partials/item-effects.html"}}
    </div>

  </section>
</form>