<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input name="name" type="text" value="{{name}}" placeholder="Name" />
        </h1>
        <div class="details">
          <div class="form-group">
            <label title="{{localize 'WWN.items.Price'}}"><i class="fas
                fa-circle"></i></label>
            <div class="form-fields">
              <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.Weight'}}"><i class="fas fa-weight-hanging"></i></label>
            <div class="form-fields">
              <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.Quantity'}}"><i class="fas fa-hashtag"></i></label>
            <div class="form-fields">
              {{#if (evalOr system.charges.value system.charges.max)}}
              <input type="number" name="system.quantity" value=1 data-dtype="Number"
                title="{{localize 'WWN.items.ChargeQuantity'}}" disabled />
              {{else}}
              <input type="number" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      <ol class="tag-list">
        {{#each system.tags as |tag|}}
        <li class="tag" title="{{getTagDesc tag.value}}" data-tag="{{tag.value}}">
          <span>{{tag.value}}</span>
          <a class="tag-delete"><i class="fas fa-times"></i></a>
        </li>
        {{/each}}
      </ol>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "WWN.category.description"}}</a>
    <a class="item" data-tab="effects">{{localize "WWN.Effects"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="flexrow card-body tab" data-group="primary" data-tab="description">
      <div class="description">
        {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable
        async=true}}
      </div>
      <div class="flexrow item-footer">
        <div class="stats">
          <div class="form-group">
            <div class="form-fields">
              <input type="text" data-action="add-tag" title="{{localize 'WWN.items.typeTrait'}}"
                placeholder="{{localize 'WWN.items.enterTrait'}}" />
            </div>
            <div class="form-fields attack-type">
              <a title="{{localize 'WWN.items.Melee'}}" class="melee-toggle {{#if
              system.melee}}active{{/if}}"><i class="fas fa-fist-raised"></i></a>
              <a title="{{localize 'WWN.items.Missile'}}" class="missile-toggle
              {{#if system.missile}}active{{/if}}"><i class="fas fa-bullseye"></i></a>
            </div>
          </div>
          <div class="form-group">
            <label title={{localize 'WWN.attribute' }}>{{localize 'WWN.attribute'}}</label>
            <div class="form-fields">
              <select name="system.score">
                {{selectOptions config.scores selected=system.score}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label title={{localize 'WWN.skill' }}>{{localize 'WWN.skill'}}</label>
            <div class="form-fields">
              <input name="system.skill" type="text" placeholder="Skill" value="{{system.skill}}" data-dtype="text" />
            </div>
          </div>
          <div class="form-group">
            <label title={{localize 'WWN.spells.Save' }}>{{localize 'WWN.spells.Save'}}</label>
            <div class="form-fields">
              <select name="system.save">
                <option value=""></option>
                {{selectOptions config.saves selected=system.save}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>{{localize 'WWN.items.AtkBonus'}}</label>
            <div class="form-fields">
              <input type="string" name="system.bonus" value="{{system.bonus}}" data-dtype="String" />
            </div>
          </div>
          {{#if system.missile}}
          <div class="form-group">
            <label>{{localize 'WWN.items.Range'}}</label>
            <div class="form-fields">
              <input type="number" name="system.range.short" value="{{system.range.short}}" data-dtype="Number" />
              {{#if config.medRange}}
              <input type="number" name="system.range.medium" value="{{system.range.medium}}" data-dtype="Number" />
              {{/if}}
              <input type="number" name="system.range.long" value="{{system.range.long}}" data-dtype="Number" />
            </div>
          </div>
          {{/if}}
        </div>
        <div class="stats">
          <div class="form-group">
            <label>{{localize 'WWN.items.Damage'}}</label>
            <div class="form-fields">
              <input type="text" name="system.damage" value="{{system.damage}}" data-dtype="String" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize 'WWN.items.Shock'}}</label>
            <div class="form-fields">
              <input type="number" name="system.shock.damage" value="{{system.shock.damage}}" data-dtype="Number"
                placeholder="{{localize 'WWN.items.Damage'}}" title="{{localize 'WWN.items.ShockDamage'}}" />
              /
              <input type="number" name="system.shock.ac" value="{{system.shock.ac}}" data-dtype="String"
                placeholder="{{localize 'WWN.items.ArmorAC'}}" title="{{localize 'WWN.items.ShockAC'}}" />
            </div>
          </div>
          <div class="form-group">
            <label title="{{localize 'WWN.items.SkillDamageLong'}}">{{localize 'WWN.items.SkillDamageShort'}}</label>
            <div class="form-fields">
              <input type="checkbox" name="system.skillDamage" value="{{system.skillDamage}}" {{checked
                system.skillDamage}} data-dtype="Boolean" title="{{localize 'WWN.items.SkillDamageLong'}}" />
            </div>
          </div>
          <div class="form-group">
            <label title={{localize 'WWN.items.Charges' }}>{{localize 'WWN.items.Charges'}}</label>
            <div class="form-fields">
              <input type="number" name="system.charges.value" value="{{system.charges.value}}" data-dtype="Number"
                title="{{localize 'WWN.items.CurrCharges'}}" />
              <input type="number" name="system.charges.max" value="{{system.charges.max}}" data-dtype="Number"
                title="{{localize 'WWN.items.MaxCharges'}}" />
            </div>
          </div>
          <div class="form-group">
            <label>{{localize "WWN.items.WeightlessLabel"}}</label>
            <div class="form-fields">
              <select name="system.weightless">
                {{selectOptions config.weightless selected=system.weightless}}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label>Ammo</label>
            <div class="form-fields">
              <input type="text" name="system.ammo" value="{{system.ammo}}" data-dtype="String"
                title="Name of the item used as ammo for this weapon." />
            </div>
          </div>

        </div>
      </div>
    </div>
    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/wwn/templates/items/partials/item-effects.html"}}
    </div>
  </section>
</form>