{{!-- Active Effects tab (items). --}}
<section class="tab effects-tab {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  <div class="wwn-attributes-body">
    {{> wwnEffectsList effects=effects}}
  </div>
</section>
